.main
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)) ,url(/images/unsplash_nimElTcTNyY.png);
    background-position:100% 15%;
    
    background-size: cover  ;
    background-repeat: no-repeat;
//    background-color: aqua;
   
    
    height: 70vh;
}