<section class="bg-[#e0cab0] rounded shadow w-full max-w-[600px] mx-auto my-6 p-4 sm:p-6 md:p-8">
  <h1 class="text-center py-4 text-[#090F41] font-bold text-xl sm:text-2xl">Forget Password</h1>

  @if (step == 1) {
    <form [formGroup]="EmailForgetPassword" (ngSubmit)="emailforget()">
      <div class="mb-6">
        <label for="email" class="block mb-2 text-base font-medium text-[#090F41]">E-mail</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C] focus:border-[#9B7E5C] block w-full p-2.5"
        />

        @let controlemail = EmailForgetPassword.get('email');
        @if (controlemail?.errors && controlemail?.touched) {
          <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35]" role="alert">
            <svg class="shrink-0 w-4 h-4 me-3 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path d="..." />
            </svg>
            <div>
              <ul class="list-disc list-inside">
                @if (controlemail?.getError('required')) {
                  <li>Email is required</li>
                } @else if (controlemail?.getError('email')) {
                  <li>Email is not valid</li>
                }
              </ul>
            </div>
          </div>
        }
      </div>

      <button class="bg-[#8B5E35] w-full sm:w-[40%] rounded py-2 text-white mx-auto block">
        Verify Email
        @if (isLoading) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </form>
  }

  <!-- Step 2 -->
  @if (step == 2) {
    <form [formGroup]="CodeForgetPassword" (ngSubmit)="codeforget()">
      <div class="mb-6">
        <label for="resetCode" class="block mb-2 text-base font-medium text-[#090F41]">Reset Code</label>
        <input
          formControlName="resetCode"
          type="text"
          id="resetCode"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C] focus:border-[#9B7E5C] block w-full p-2.5"
        />

        @if (CodeForgetPassword.get('resetCode')?.errors && CodeForgetPassword.get('resetCode')?.touched) {
          <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35]" role="alert">
            <svg class="shrink-0 w-4 h-4 me-3 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path d="..." />
            </svg>
            <div>
              <ul class="list-disc list-inside">
                @if (CodeForgetPassword.get('resetCode')?.getError('required')) {
                  <li>Reset code is required</li>
                } @else if (CodeForgetPassword.get('resetCode')?.getError('pattern')) {
                  <li>Reset code is invalid</li>
                }
              </ul>
            </div>
          </div>
        }
      </div>

      <button class="bg-[#8B5E35] w-full sm:w-[40%] rounded py-2 text-white mx-auto block">
        Verify Code
        @if (isLoading) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </form>
  }

  <!-- Step 3 -->
  @if (step == 3) {
    <form [formGroup]="PassWordForgetPassword" (ngSubmit)="passwordforget()">
      <!-- Email Field -->
      <div class="mb-6">
        <label for="email" class="block mb-2 text-base font-medium text-[#090F41]">E-mail</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C] focus:border-[#9B7E5C] block w-full p-2.5"
        />

        @let controlpassword = PassWordForgetPassword.get('email');
        @if (controlpassword?.errors && controlpassword?.touched) {
          <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35]" role="alert">
            <svg class="shrink-0 w-4 h-4 me-3 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path d="..." />
            </svg>
            <div>
              <ul class="list-disc list-inside">
                @if (controlpassword?.getError('required')) {
                  <li>Email is required</li>
                } @else if (controlpassword?.getError('email')) {
                  <li>Email is not valid</li>
                }
              </ul>
            </div>
          </div>
        }
      </div>

      <!-- Password Field -->
      <div class="mb-6">
        <label for="password" class="block mb-2 text-base font-medium text-[#090F41]">New Password</label>
        <input
          formControlName="newPassword"
          type="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-[#9B7E5C] focus:border-[#9B7E5C] block w-full p-2.5"
        />

        @if (PassWordForgetPassword.get('newPassword')?.errors && PassWordForgetPassword.get('newPassword')?.touched) {
          <div class="flex p-2 mt-4 text-sm text-white rounded-lg bg-[#8B5E35]" role="alert">
            <svg class="shrink-0 w-4 h-4 me-3 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path d="..." />
            </svg>
            <div>
              <ul class="list-disc list-inside">
                @if (PassWordForgetPassword.get('newPassword')?.getError('required')) {
                  <li>Password is required</li>
                } @else if (PassWordForgetPassword.get('newPassword')?.getError('pattern')) {
                  <li>Password is invalid</li>
                }
              </ul>
            </div>
          </div>
        }
      </div>

      <button class="bg-[#8B5E35] w-full sm:w-[40%] rounded py-2 text-white mx-auto block">
        Reset Password
        @if (isLoading) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
      </button>
    </form>
  }
</section>


