


 <!-- <nav class=" bg-[#F6F6F6] border-0 fixed top-0 z-40 right-0 left-0 rounded">

    <div class="max-w-screen-xl   flex flex-wrap  items-center  justify-between mx-auto p-1">
      <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-2xl font-semibold ms-6 whitespace-nowrap text-[#8B5E35]">Trendify</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm  rounded-lg md:hidden  focus:outline-none focus:ring-2 " aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full flex-grow md:flex md:w-auto  py-2 " id="navbar-default">
        <ul class=" capitalize font-medium mx-auto flex flex-col p-2 md:p-0 mt-4 border text-center  md:flex-row md:space-x-1 items-center rtl:space-x-reverse md:mt-0 md:border-0 ">
          
            @if (isLogin) 
            {
            
                <li>
                    <a routerLink="/home" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA] py-2 px-3 ms-4  text-[14px]  " aria-current="page"> Home 
                        </a>
                  </li>
                <li>
                    <a routerLink="/services" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA]  py-2 px-3 ms-4  text-[14px]  " aria-current="page"> services 
                        </a>
                  </li>
                <li>
                    <a routerLink="/product" routerLinkActive="bg-[#8B5E35] rounded text-white" 
               
                     class="block  text-[#9D9DAA]  py-2 px-3  ms-4 text-[14px] " aria-current="page"> products 
                        </a>
                  </li>
                <li>
                    <a routerLink="/aboutus" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA]  py-2 px-3 ms-4  text-[14px] " aria-current="page"> about us 
                        </a>
                  </li>
                <li>
                    <a routerLink="/blog" routerLinkActive="bg-[#8B5E35] rounded text-white px-3 py-1"  class="block  text-[#9D9DAA] py-2 px-3  text-[14px] ms-4  " aria-current="page"> blog 
                        </a>
                  </li>
                <li>
                    <a routerLink="/contactus" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA]  py-2 px-3 ms-4  text-[14px] " aria-current="page"> contact us 
                        </a>
                  </li>
            }
         
          
         
          
         
          
            
        </ul>
        <ul class="capitalize ms-auto font-medium flex flex-col p-4 md:p-0 mt-4 border    md:flex-row items-center md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0 ">
          
            @if ( !isLogin) 
            {

                <li>
                    <a routerLinkActive="bg-[#8B5E35] rounded text-white px-3 py-2"  routerLink="/register" class="block py-2 me-8 px-3 text-[#2E2E2E]   " aria-current="page">Register
        
                        <i class="fa-solid fa-user"></i></a>
                  </li>
                <li>
                    <a routerLinkActive="bg-[#8B5E35] rounded text-white px-3 py-2" routerLink="/login" class="block py-2 me-5 px-3 text-[#2E2E2E]    " aria-current="page"> login 
                        <i class="fa-solid fa-right-to-bracket"></i> </a>
                  </li>
                  
                  
            }
         
            @else 
            {
                <li>
                    <a  routerLink="/wishlist" class="block relative ms-1 text-[14px] py-2 px-3 me-3  text-[#8B5E35] "   routerLinkActive="  " aria-current="page"> 
                        <i class="fas fa-cart fa-heart text-[15px]"></i>
                       
                        </a>
                  </li>
                <li>
                    <a  routerLink="/cart" class="block relative ms-1 text-[14px] py-2 px-3 me-3  text-[#8B5E35] "   routerLinkActive="  " aria-current="page"> 
                        <i class="fas fa-cart fa-cart-shopping text-[15px]"></i>
                       
                        </a>
                  </li>
               
                  
                <li>
                    <a 
                    role="button"
                  
                    
                    class="block py-2 px-3 text-[#8B5E35] rounded  ms-1 text-[14px] me-6 text-3xl  md:p-0 " aria-current="page">
                    <i class="fa-solid fa-user text-[15px]"></i> </a>
                  </li>

                  
                  
            }
         
          
         
          
            
        </ul>
      </div>
    </div>
  </nav> 
  
 -->






 <nav class=" fixed top-0 bg-[#1D253F] bg-opacity-30 left-0 right-0 z-50  rounded-lg ">
  
  <div class="container mx-auto">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-1">
     
      <img src="/images/digital-art-style-illustration-graphic-designer.jpg" class="w-[60px] h-[60px] border border-[#156E5D] border-x-2 rounded-full" alt="">
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg
          md:space-x-8  rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
          <li>
            <a routerLink="/home" routerLinkActive="bg-[#156E5D] text-white rounded-full"
             class="block py-2 px-3 text-[#156E5D] ">Home</a>
          </li>
          <li>
            
            
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="bg-[#156E5D] text-white rounded-full"
             class="block py-2 px-3  text-[#156E5D] ">About</a>
          </li>
          <li>
            <a  routerLink="/projects"  routerLinkActive="bg-[#156E5D] text-white rounded-full"
             class="block py-2 px-3 text-[#156E5D] 
             ">Projects</a>
          </li>
          <li>
            <a  routerLink="/developer"  routerLinkActive="bg-[#156E5D] text-white rounded-full"
             class="block py-2 px-3 text-[#156E5D] 
             ">Developer</a>
          </li>



          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex
          items-center justify-between w-full py-2 px-3 text-[#156E5D] rounded-sm
           hover:bg-gray-100 md:hover:bg-transparent">English <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg></button>
         <!-- Dropdown menu -->
         <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y
          divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
             <ul class="py-2 text-sm text-gray-700
              dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              
               
               <li>
                 <a 
                  class="block px-4 py-2 hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white">English</a>
               </li>
               <li>
                 <a 
                  class="block px-4 py-2 hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white">Arabic</a>
               </li>
             </ul>
         </div>
        </ul>
      </div>
    </div>
  </div>
  </nav>
  

  
  