

 <nav class=" bg-[#F6F6F6] border-0 fixed top-0 z-40 right-0 left-0 rounded">

    <div class="max-w-screen-xl   flex flex-wrap  items-center  justify-between mx-auto p-1">
      <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-2xl font-semibold ms-6 whitespace-nowrap text-[#8B5E35]">Trendify</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm  rounded-lg md:hidden  focus:outline-none focus:ring-2 " aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full flex-grow md:flex md:w-auto  py-2 " id="navbar-default">
        <ul class=" capitalize font-medium mx-auto flex flex-col p-2 md:p-0 mt-4 border text-center  md:flex-row md:space-x-1 items-center rtl:space-x-reverse md:mt-0 md:border-0 ">
          
            @if (isLogin) 
            {
                <!-- py-2 px-3 ms-6 -->
                <li>
                    <a routerLink="/home" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA] py-2 px-3 ms-4  text-[14px]  " aria-current="page"> Home 
                        </a>
                  </li>
                <li>
                    <a routerLink="/services" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA]  py-2 px-3 ms-4  text-[14px]  " aria-current="page"> services 
                        </a>
                  </li>
                <li>
                    <a routerLink="/product" routerLinkActive="bg-[#8B5E35] rounded text-white" 
                    [routerLinkActiveOptions]="{exact:true}"
                     class="block  text-[#9D9DAA]  py-2 px-3  ms-4 text-[14px] " aria-current="page"> products 
                        </a>
                  </li>
                <li>
                    <a routerLink="/aboutus" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA]  py-2 px-3 ms-4  text-[14px] " aria-current="page"> about us 
                        </a>
                  </li>
                <li>
                    <a routerLink="/blog" routerLinkActive="bg-[#8B5E35] rounded text-white px-3 py-1"  class="block  text-[#9D9DAA] py-2 px-3  text-[14px] ms-4  " aria-current="page"> blog 
                        </a>
                  </li>
                <li>
                    <a routerLink="/contactus" routerLinkActive="bg-[#8B5E35] rounded text-white"  class="block  text-[#9D9DAA]  py-2 px-3 ms-4  text-[14px] " aria-current="page"> contact us 
                        </a>
                  </li>
            }
         
          
         
          
         
          
            
        </ul>
        <ul class="capitalize ms-auto font-medium flex flex-col p-4 md:p-0 mt-4 border    md:flex-row items-center md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0 ">
          
            @if (! isLogin) 
            {

                <li>
                    <a routerLinkActive="bg-[#8B5E35] rounded text-white px-3 py-2"  routerLink="/register" class="block py-2 me-8 px-3 text-[#2E2E2E]   " aria-current="page">Register
        
                        <i class="fa-solid fa-user"></i></a>
                  </li>
                <li>
                    <a routerLinkActive="bg-[#8B5E35] rounded text-white px-3 py-2" routerLink="/login" class="block py-2 me-5 px-3 text-[#2E2E2E]    " aria-current="page"> login 
                        <i class="fa-solid fa-right-to-bracket"></i> </a>
                  </li>
                  
                  
            }
         
            @else 
            {
                <li>
                    <a  routerLink="/wishlist" class="block relative ms-1 text-[14px] py-2 px-3 me-3  text-[#8B5E35] "   routerLinkActive="  " aria-current="page"> 
                        <i class="fas fa-cart fa-heart text-[15px]"></i>
                        <span class="absolute top-0 left-0 bg-yellow-100 text-yellow-900 text-xs font-medium me-2 px-1 py-0.2 rounded-sm dark:bg-yellow-900 dark:text-yellow-300">{{countWish()}}</span>
                        </a>
                  </li>
                <li>
                    <a  routerLink="/cart" class="block relative ms-1 text-[14px] py-2 px-3 me-3  text-[#8B5E35] "   routerLinkActive="  " aria-current="page"> 
                        <i class="fas fa-cart fa-cart-shopping text-[15px]"></i>
                        <span class="absolute top-0 left-0 bg-yellow-100 text-yellow-900 text-xs font-medium me-2 px-1 py-0.2 rounded-sm dark:bg-yellow-900 dark:text-yellow-300">{{countitem()}}</span>
                        </a>
                  </li>
               
                  
                <li>
                    <a 
                    role="button"
                    (click)="signOut()"
                    
                    class="block py-2 px-3 text-[#8B5E35] rounded  ms-1 text-[14px] me-6 text-3xl  md:p-0 " aria-current="page">
                    <i class="fa-solid fa-user text-[15px]"></i> </a>
                  </li>

                  
                  
            }
         
          
         
          
            
        </ul>
      </div>
    </div>
  </nav> 
  





  
  